<header class="bg-white flex justify-between h-16 items-center border-b">
  <img src="../../../assets/images/logo.png" alt="" class="w-10 h-10 ml-4">
  <div>
    <span>For support?</span>
    <span>+980-35215468</span>
  </div>
  <nav class="w-2/3">
    <ul class="flex justify-around">
      <li><a class="hover:border-b hover:cursor-pointer">Foods</a></li>
      <li><a class="hover:border-b hover:cursor-pointer">About us</a></li>
      <li><a class="hover:border-b hover:cursor-pointer">Contact us</a></li>
      <li><a (click)="logOut()" class="hover:border-b hover:cursor-pointer">Log out</a></li>
    </ul>
  </nav>
</header>