<main>
  <!-- food random detail -->
  <section class="bg-slate-400">
    <h2 class="font-bold text-3xl">RANDOM FOOD</h2>
    <p>Title: {{randomFood.title}}</p>
    <p>Category: {{randomFood.category}}</p>
    <p>Area: {{randomFood.area}}</p>
    <p>Instructions: {{randomFood.instructions}}</p>

    <div>
      <h2 class="text-2xl font-bold">INGREDIENTS</h2>
      <ul>
        <ng-container *ngFor="let ingredient of randomFood.ingredients">
          <li>- {{ingredient}}</li>
        </ng-container>
      </ul>

    </div>
  </section>

  <!-- filtros -->
  <section>
    <select class="mx-2">
      <option value="">Elige una categoría</option>
      <option [value]="category.title" *ngFor="let category of categories">
        {{category.title}}
      </option>
    </select>

    <select class="mx-2">
      <option value="">Elige un área</option>
      <option [value]="area.strArea" *ngFor="let area of areas">
        {{area.strArea}}
      </option>
    </select>

    <select class="mx-2">
      <option value="">Elige una ingrediente</option>
      <option [value]="ingredient.title" *ngFor="let ingredient of ingredients">
        {{ingredient.title}}
      </option>
    </select>
  </section>

  <!-- food grid -->
  <section>
    <h2 class="font-bold text-3xl">FOOD CATALOG</h2>
    <app-food-card [food]="food" *ngFor="let food of foods"></app-food-card>
  </section>
</main>