<main class="flex flex-col items-center">
  <!-- food random detail -->
  <section class=" w-10/12 rounded shadow-md grid grid-cols-2 my-3 border p-2">
    <div class="flex items-center justify-center">
      <img [src]="randomFood.imageUrl" alt="" class="object-cover w-10/12 rounded">
    </div>
    <div>
      <h2 class="font-bold text-3xl">{{randomFood.title}}</h2>
      <div class="flex">
        <div class="flex items-center">
          <img src="assets/icons/category.svg" class="w-5 h-5" alt="">
          <span class="pl-1">{{randomFood.category}}</span>
        </div>
        <div class="flex items-center ml-2">
          <img src="assets/icons/area.svg" class="w-5 h-5" alt="">
          <span class="pl-1">{{randomFood.area}}</span>
        </div>
      </div>
      <h2 class="font-bold">Instructions</h2>
      <p>{{randomFood.instructions}}</p>

      <div>
        <h2 class="text-2xl font-bold py-3">INGREDIENTS</h2>
        <ul class="grid grid-cols-4 grid-rows-4 gap-2 text-center">
          <ng-container *ngFor="let ingredient of randomFood.ingredients">
            <li class="bg-white border-gray-500 border hover:bg-slate-100 hover:cursor-pointer rounded h-auto">
              {{ingredient}}</li>
          </ng-container>
        </ul>

      </div>
    </div>
  </section>

  <!-- filtros -->
  <section>
    <select #filterCategory class="mx-2" (change)="filterFoodsByCategory(filterCategory.value)">
      <option value="">Elige una categoría</option>
      <option [value]="category.title" *ngFor="let category of categories">
        {{category.title}}
      </option>
    </select>

    <select #filterArea class="mx-2" (change)="filterFoodsByArea(filterArea.value)">
      <option value="">Elige un área</option>
      <option [value]="area.strArea" *ngFor="let area of areas">
        {{area.strArea}}
      </option>
    </select>

    <select #filterIngredient class="mx-2" (change)="filterFoodsByIngredient(filterIngredient.value)">
      <option value="">Elige una ingrediente</option>
      <option [value]="ingredient.title" *ngFor="let ingredient of ingredients">
        {{ingredient.title}}
      </option>
    </select>
    <input type="text" name="foodSearch" placeholder="Seach a food" #foodSearch>
    <button (click)="getFoodsByName(foodSearch.value)">
      Search
    </button>
  </section>

  <!-- food grid -->
  <h2 class="font-bold text-3xl py-3">FOOD CATALOG</h2>
  <section class="w-10/12 grid grid-cols-4">
    <app-food-card [food]="food" *ngFor="let food of foods"></app-food-card>
  </section>
</main>