<main class="flex flex-col items-center bg-gray-50">
  <!-- food random detail -->
  <section class=" w-10/12 rounded shadow-md grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 my-3 border p-2">
    <div class="flex items-center justify-center">
      <img [src]="randomFood.imageUrl" alt="" class="object-cover w-10/12 rounded">
    </div>
    <div>
      <h2 class="font-bold text-3xl text-center">{{randomFood.title}}</h2>
      <div class="flex justify-center">
        <div class="flex items-center">
          <img src="assets/icons/category.svg" class="w-5 h-5" alt="">
          <span class="pl-1">{{randomFood.category}}</span>
        </div>
        <div class="flex items-center ml-2">
          <img src="assets/icons/area.svg" class="w-5 h-5" alt="">
          <span class="pl-1">{{randomFood.area}}</span>
        </div>
      </div>
      <h2 class="font-bold">Instructions</h2>
      <p>{{randomFood.instructions}}</p>

      <div>
        <h2 class="text-2xl font-bold py-3">INGREDIENTS</h2>
        <ul class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-4 grid-rows-4 gap-2 text-center">
          <ng-container *ngFor="let ingredient of randomFood.ingredients">
            <li class="bg-white border-gray-500 border hover:bg-slate-100 hover:cursor-pointer rounded h-auto">
              {{ingredient}}</li>
          </ng-container>
        </ul>

      </div>
    </div>
  </section>

  <!-- filtros -->
  <section
    class="w-10/12 sm:flex sm:flex-col sm:justify-center md:flex-row lg:flex-row md:justify-between lg:justify-between">
    <div class="flex flex-col md:flex-row lg:flex-row md:items-center lg:items-center">
      <button #dropdownDefaultButton id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class=" bg-gray-50 border-2 text-black hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mx-2 my-2 justify-between"
        type="button"><span>Elige una categoría</span> <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg></button>
      <!-- Dropdown menu -->
      <div #dropdownMenu id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <ng-container *ngFor="let category of categories">
            <li>
              <a (click)="filterFoodsByCategory(category.title)"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white hover:cursor-pointer">{{category.title}}</a>
            </li>
          </ng-container>
        </ul>
      </div>

      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class=" bg-gray-50 border-2 text-black hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mx-2 my-2 justify-between"
        type="button">Elige un área <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg></button>
      <!-- Dropdown menu -->
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <ng-container *ngFor="let area of areas">
            <li>
              <a (click)="filterFoodsByArea(area.strArea)"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white hover:cursor-pointer">{{area.strArea}}</a>
            </li>
          </ng-container>
        </ul>
      </div>

      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class=" bg-gray-50 border-2 text-black hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mx-2 my-2 justify-between"
        type="button">Elige un ingrediente<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg></button>
      <!-- Dropdown menu -->
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <ng-container *ngFor="let ingredient of ingredients">
            <li>
              <a (click)="filterFoodsByIngredient(ingredient.title)"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white hover:cursor-pointer">{{ingredient.title}}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>



    <!-- <div class="flex flex-col md:flex-row lg:flex-row md:items-center lg:items-center">
      <select class="bg-white appearance-none my-2" #filterCategory class="mx-2"
        (change)="filterFoodsByCategory(filterCategory.value)">
        <option value="">Elige una categoría</option>
        <option [value]="category.title" *ngFor="let category of categories">
          {{category.title}}
        </option>
      </select>

      <select #filterArea class="mx-2 my-2" (change)="filterFoodsByArea(filterArea.value)">
        <option value="">Elige un área</option>
        <option [value]="area.strArea" *ngFor="let area of areas">
          {{area.strArea}}
        </option>
      </select>

      <select #filterIngredient class="mx-2 my-2" (change)="filterFoodsByIngredient(filterIngredient.value)">
        <option value="">Elige un ingrediente</option>
        <option [value]="ingredient.title" *ngFor="let ingredient of ingredients">
          {{ingredient.title}}
        </option>
      </select>
    </div> -->

    <div class="sm:w-full flex justify-between md:w-5/12 lg:5/12">
      <input type="text" name="foodSearch" placeholder="Search food" #foodSearch
        class="border-none w-10/12 sm:ml-2 sm:mt-2 rounded-2xl ring-2 ring-gray-300 h-10 text-black pl-2 ml-2 mt-2">
      <button (click)="getFoodsByName(foodSearch.value)" class="flex items-center justify-center px-4">
        <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
        </svg>
      </button>
    </div>
  </section>

  <!-- food grid -->
  <h2 class="font-bold text-3xl py-3">FOOD CATALOG</h2>
  <section class="w-10/12 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
    <app-food-card [food]="food" *ngFor="let food of foods"></app-food-card>
  </section>
</main>